@import 'var';


*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: $poppins;

    // top nav container
    .rj-top-nav-container {
        width: 100%;
        margin: auto;
        position: fixed;
        z-index: 999 !important;

        .top-nav {
            max-width: 1240px;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-between;
            padding: 2% 0;


            .top-nav-logo {
                text-decoration: none;
                color: $white;
                font-family: $poppins !important;
                font-weight: 600;
                font-size: 20px;

                span {
                    color: $orange;
                }
            }

            .top-nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;

                    a {
                        font-family: $poppins;
                        font-weight: 400;
                        font-size: 16px;
                        text-decoration: none;
                        color: $white;
                    }
                }

                li:not(:last-child) {
                    margin-right: 15px;
                }

                li:last-child {
                    background-color: $orange;
                    padding: 5px 10px;
                    border-radius: 10px;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    // mobile nav container
    .rj-mobile-nav-container {
        display: none;
        z-index: 999 !important;
    }

    // hero container
    .rj-hero-container {
        background-image: url('/assets/imgs/Rectangle\ 2hero-img.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 970px;

        .hero {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: $white;
            position: relative;

            .hero-txt {
                max-width: 1240px;
                margin: auto;
                position: absolute;
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
            }
        }
    }
}